<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.cinesConnectionString"
            connectionString="C:\USERS\ANDII\DOWNLOADS\BDFINAL1.0\CINES.MDF"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>