<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClasesBase.Dominio.usuario" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.cinesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\SEBA\Desktop\cursada2020\LPO2\tpFinal\cines.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ClasesBase.Dominio.usuario>
            <setting name="IniciarSonido" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UrlSonido" serializeAs="String">
                <value />
            </setting>
        </ClasesBase.Dominio.usuario>
    </userSettings>
</configuration>