<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="URLSonidoInicial" value="D:\Mis Documentos\Documents\Github\LPOOII_GRUPO03\Vistas\utils\Efectos\EfectoSonido1.mp3"/>
    <add key="reproducirSonidos" value="True"/>
  </appSettings>
</configuration>